@import url("https://fonts.googleapis.com/css2?family=Rubik:wght@600;800&display=swap");

* {
  margin: 0;
  padding: 0;
  box-sizing: border-box;
}

html {
  font-size: 62.5%;
}

body {
  background-color: #099268;
  font-family: "Rubik", sans-serif;
  min-height: 100vh;
  display: flex;
  justify-content: center;
  align-items: center;
  color: #222;
}

*:focus {
  outline: none;
}

.hidden {
  opacity: 0;
}

.container {
  width: 65rem;
  height: 90rem;
  background-color: #fff;
  border-radius: 3%;
  overflow: hidden;
  position: relative;
}

.photo {
  height: 40%;
  position: relative;
}

.input-search {
  position: absolute;
  z-index: 10;
  border: none;
  left: 50%;
  top: 33.3%;
  transform: translate(-50%);
  font-size: 20px;
  color: #222;
  background-color: rgba(255, 255, 255, 0.644);
  font-weight: 700;
  padding: 10px 5px;
  width: 30rem;
  border-radius: 50px;
  padding-right: 50px;
  padding-left: 20px;
  transition: all 0.3s;
}

.input-search:hover,
.input-search:focus {
  background-color: rgb(246, 245, 245);
}

.icon-search {
  position: absolute;
  z-index: 11;
  width: 35px;
  right: 185px;
  top: 33.7%;
  stroke: #fff;
  transition: all 0.2s;
  stroke: rgb(129, 127, 127);
}

.icon-search:hover {
  stroke: rgb(189, 115, 115);
  width: 37px;
  cursor: pointer;
}

.photo img {
  object-fit: cover;
  width: 100%;
  height: 100%;
  filter: drop-shadow(10px 10px 20px rgb(0 0 0 / 0.5));
}

/* DATE , TIME , CITY and CORS on photo */

.time-photo,
.date-photo,
.cors-photo,
.city-photo {
  color: #fff;
  position: absolute;
  transform: translate(-50%, -50%);
  z-index: 10;
  /* box-shadow: 0 2.4rem 4.8rem rgba(0, 0, 0, 0.075); */
  text-shadow: 1px 1px 20px rgb(129, 129, 129);
}

.date-photo {
  top: 14.5%;
  left: 50%;
  font-size: 3rem;
  /* width: 400px;
  height: 300px; */
}

.time-photo {
  top: 21%;
  left: 50%;
  font-size: 6.5rem;
}

.city-photo {
  top: 3.8%;
  left: 56.7%;
  width: 500px;
  text-align: right;
  font-size: 2rem;
}

.cors-photo {
  top: 6.6%;
  left: 50%;
  font-size: 1.3rem;
  width: 585px;
  text-align: right;
}

/* END */

.info {
  height: 60%;
  position: relative;
}

.info-daily {
  height: 33%;
  display: flex;
  justify-content: space-around;
  align-items: flex-end;
  border-top: 1px solid rgb(221, 220, 220);
}

.weather-item {
  text-align: center;
  font-size: 14px;
  padding: 18px 0 20px 0;
}

.icon-weather {
  width: 80px;
  filter: contrast(90%);
}

.day {
  font-size: 18px;
  color: #222;
}

.temp {
  color: rgb(49, 49, 49);
}

.info-current {
  height: 67%;
  display: grid;
  grid-template-columns: 1fr 1fr;
  grid-template-rows: 1fr 1fr;
  padding: 15px 25px;
  column-gap: 10px;
  position: relative;
}

.current-item {
  display: flex;
  align-items: center;
  justify-content: center;
}

.current--1 {
  flex-direction: column;
  justify-content: stretch;
  padding-top: 6px;
}

/* .current--2 {
  flex-direction: column;
} */

.current--3 {
  flex-direction: column;
  grid-column: 1/-1;
  padding-top: 3rem;
}

.current-temp {
  font-size: 92px;
  width: max-content;
}

.current-feels_like {
  font-size: 24px;
}

.icon-weather--current {
  height: 115px;
  padding-left: 0px;
  filter: contrast(90%);
}

.current-description {
  font-size: 25px;
  text-align: center;
  /* padding-top: 10px; */
  /* padding-right: 10px; */
}

.current--3 li {
  list-style-type: none;
  line-height: 1.7;
}

.current--2::before {
  content: "";
  border-top: 1px solid rgb(230, 228, 228);
  width: 540px;
  position: absolute;
  bottom: 16.4rem;
  left: 4.5rem;
  transform: translateY(-50% -50%);
  z-index: 10;
}

span {
  color: rgb(109, 108, 108);
}

.slider {
  position: relative;
  left: 50%;
  max-width: 50rem;
  display: flex;
  align-items: center;
  justify-content: center;
}

.slide {
  position: absolute;
  width: 100%;
  transition: all 0.4s;
  display: none;
  text-align: center;
}

.units-button {
  position: absolute;
  top: 5%;
  left: 5%;
  background-color: none;
  border: none;
  font-size: 8rem;
  cursor: pointer;
  z-index: 12;
  opacity: 0;
  width: 28rem;
}

.info-current::after {
  content: "";
  width: 13rem;
  height: 12rem;
  top: 22rem;
  right: 0;
  z-index: 5;
  position: absolute;
  background: linear-gradient(0.25turn, #ffffff44, #ffffff);
  display: none;
}

.info-current::before {
  content: "";
  width: 13rem;
  height: 12rem;
  top: 22rem;
  left: 0;
  z-index: 5;
  display: none;
  position: absolute;
  background: linear-gradient(0.25turn, #ffffff, #ffffff44);
}

.main-img {
  position: absolute;
  top: 1%;
  left: 2%;
  width: 32px;
  cursor: pointer;
  z-index: 70;
}

.main-info {
  position: absolute;
  display: flex;
  align-items: center;
  gap: 7px;
  top: 1.1rem;
  left: 5.6rem;
  font-size: 13px;
  text-align: center;
  background-color: rgba(255, 255, 255, 0.883);
  padding: 5px 5px;
  border-radius: 10px;
  min-width: 217.6px;
  z-index: 70;
  /* opacity: 0; */
  cursor: default;
}

.btn-git-hub {
  cursor: pointer;
}

.git-hub-img {
  width: 20px;
}

/* Swiper.js */

.swiper {
  width: 200%;
  height: 100%;
  left: 0%;
}

.swiper-slide {
  text-align: center;
  font-size: 18px;
  background: #fff;

  /* Center slide text vertically */
  display: -webkit-box;
  display: -ms-flexbox;
  display: -webkit-flex;
  display: flex;
  -webkit-box-pack: center;
  -ms-flex-pack: center;
  -webkit-justify-content: center;
  justify-content: center;
  -webkit-box-align: center;
  -ms-flex-align: center;
  -webkit-align-items: center;
  align-items: center;
}

.swiper {
  margin-left: auto;
  margin-right: auto;
}

.swiper-slide-active {
  cursor: grab;
}

.swiper-slide-active:active {
  cursor: grabbing;
}

.swiper-button-next {
  right: 20px;
  z-index: 101;
}

ul {
  list-style-type: none;
}

div.swiper-button-prev,
div.swiper-button-next {
  color: #222;
}

span.swiper-pagination-bullet {
  background-color: #222;
}

.error {
  position: absolute;
  transform: translate(-50%);
  top: 25%;
  left: 50%;
  font-size: 1.5rem;
  text-align: center;
  padding: 1rem 1rem;
  border-radius: 7px;
  background-color: rgba(34, 34, 34, 0.829);
  color: rgb(211, 75, 75);
  display: none;
}

/* ************************************* */
/* 1024px = 64em (Ipad Pro) */
/* ************************************* */

@media (max-width: 64em) {
  html {
    font-size: 100%;
  }

  .container {
    width: auto;
    height: 100vh;
    border-radius: 0;
  }

  .weather-item {
    font-size: 25px;
  }

  .day {
    font-size: 28px;
  }

  .current-feels_like {
    font-size: 37px;
  }

  span.swiper-pagination-bullet {
    height: 20px;
    width: 20px;
  }
  div.swiper-button-prev,
  div.swiper-button-next {
    display: none;
  }

  .info-current::before {
    display: block;
    top: 20rem;
  }

  .info-current::after {
    display: block;
    top: 20rem;
  }

  .current--1 {
    justify-content: center;
    padding-top: 0;
    margin-bottom: 20px;
    padding-left: 2rem;
  }

  .current--2 {
    padding-right: 2rem;
  }

  .current-description {
    font-size: 40px;
  }

  .info-daily {
    height: 30%;
  }

  .input-search {
    width: 40rem;
    height: 5rem;
    font-size: 2.3rem;
    padding-right: 5rem;
    top: 30%;
  }

  .icon-search {
    right: 13.5rem;
    width: 4rem;
    top: 30.7%;
  }

  .icon-search:hover {
    width: 4rem;
    stroke: rgb(129, 127, 127);
  }

  .date-photo {
    width: 50rem;
    text-align: center;
    font-size: 3.3rem;
  }

  .time-photo {
    font-size: 6.9rem;
    width: 50rem;
    text-align: center;
  }

  /* .city-photo {
    width: 49rem;
    font-size: 2.2rem;
  } */

  .city-photo {
    width: 49rem;
    right: 10px;
    /* text-align: center; */
    font-size: 2.2rem;
  }

  .cors-photo {
    left: 66.2%;
    font-size: 1.7rem;
    top: 7%;
  }

  .main-img {
    width: 4rem;
  }

  .main-name {
    font-size: 1.8rem;
  }

  .main-info {
    padding: 15px 20px;
    top: 0.7rem;
    background-color: white;
  }

  .git-hub-img {
    width: 35px;
  }

  .info-daily {
    flex-shrink: 1;
  }
}

/* ************************************* */
/* 950px = 60em */
/* ************************************* */

@media (max-width: 60em) {
  .icon-search {
    right: 11.5rem;
  }

  .city-photo {
    width: 47rem;
  }
  .cors-photo {
    left: 65.3%;
  }

  .date-photo {
    padding-bottom: 20px;
  }
}

/* ************************************* */
/* 880px = 56em */
/* ************************************* */

@media (max-width: 56em) {
  .icon-search {
    right: 9rem;
  }

  .city-photo {
    width: 43rem;
  }
  .cors-photo {
    left: 62.3%;
  }
}

/* ************************************* */
/* 800px = 50em (tables) */
/* ************************************* */

@media (max-width: 50em) {
  .icon-search {
    right: 9.6rem;
    top: 32%;
  }

  .input-search {
    top: 31.3%;
    width: 32rem;
  }

  .info-current::before {
    opacity: 0;
  }

  .info-current::after {
    opacity: 0;
  }

  .time-photo {
    font-size: 5.5rem;
  }

  .date-photo {
    font-size: 2.7rem;
  }

  .city-photo {
    width: 37rem;
    font-size: 1.7rem;
  }

  .cors-photo {
    width: 27.8rem;
    font-size: 1.4rem;
  }

  .info-daily {
    height: 34%;
    font-size: 21px;
  }

  span.swiper-pagination-bullet {
    height: 13px;
    width: 13px;
  }

  .current-feels_like {
    font-size: 2rem;
  }

  .current--2::before {
    top: 13rem;
  }

  .swiper {
    height: 94%;
  }

  .icon-weather--current {
    display: none;
  }
}

/* 700px = 43em (mobiles) */
/* ************************************* */

@media (max-width: 43em) {
  .icon-search {
    right: 5rem;
    top: 32%;
  }

  .city-photo {
    width: 26rem;
    font-size: 1.7rem;
  }

  .cors-photo {
    width: 20.8rem;
    font-size: 1.4rem;
  }

  .current-temp {
    font-size: 80px;
  }

  .current--1 {
    text-align: center;
  }
}

/* ************************************* */
/* 500px = 31em (mobiles) */
/* ************************************* */

@media (max-width: 31em) {
  .weather-item {
    font-size: 15px;
  }

  .day {
    font-size: 17px;
  }

  .current-feels_like {
    font-size: 1.4rem;
  }

  .time-photo {
    font-size: 3rem;
  }

  .date-photo {
    font-size: 2rem;
  }

  .main-name {
    font-size: 0.8rem;
  }

  .main-info {
    padding: 6px 7px;
    top: 0.9rem;
    left: 3.7rem;
  }

  .git-hub-img {
    width: 20px;
  }

  .main-img {
    width: 2.7rem;
  }

  .city-photo {
    font-size: 1.1rem;
    width: 21rem;
  }

  .cors-photo {
    font-size: 0.9rem;
    width: 15.6rem;
    padding-top: 5px;
  }

  .input-search {
    width: 25rem;
    height: 3rem;
    font-size: 1.2rem;
  }

  .icon-search {
    right: 2.1rem;
    top: 31.7%;
    width: 2.6rem;
  }

  .current-temp {
    font-size: 3rem;
  }

  .current-feels_like {
    font-size: 1.2rem;
  }

  .units-button {
    width: 12rem;
    height: 5rem;
  }

  .current-description {
    font-size: 25px;
  }

  .current--2::before {
    top: 50%;
  }
}

/* ************************************* */
/* 400px = 25em (mobiles) */
/* ************************************* */

@media (max-width: 25em) {
  .input-search {
    width: 21rem;
  }

  .city-photo {
    width: 18rem;
  }

  .cors-photo {
    width: 13.6rem;
  }

  .current-description {
    padding-bottom: 1.4rem;
    padding-left: 2rem;
  }

  .current-feels_like {
    text-align: center;
  }
}
